name: "My Example Site"
machine: "example_docroot"
version: 7
environments:
  prod:
    server: "example_server"
    path: "/var/www/html/example_docroot/docroot"
    url: "example.com"
  test:
    server: "other_example"
    path: "/var/www/html/example_docroot/docroot"
    url: "dev.example.com"
